@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --font-title: 'Roboto', sans-serif;
    --font-base: 'Roboto', sans-serif;

    --base-gray: #ccc;
}

body {
    font-family: var(--font-base);
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 0 0;
    border-bottom: solid 1px var(--base-gray);
}

header h1 {
    font-size: 32px;
    font-weight: bold;
}

.submenu {
    display: none;
    border: solid 1px red;
    position: absolute;
    width: 300px;
    top: 100%;
    left: 0;
}

.menu > li {
    float: left;
    list-style: none;
    padding: 16px;
    border-top: solid 4px transparent;
    position: relative;
}

.clear {
    clear: both;
}

.menu li:hover  .submenu {
    display: block;
}

.menu li:hover {
    border-color: red;
}

.submenu li {
    display: block;
    padding: 8px;
}